<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
  <script src="https://cdn.jsdelivr.net/npm/promise-polyfill"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <link href="{{ url_for('static', filename='css/simple-sidebar.css') }}" rel="stylesheet">

  <script>
            function logout_button() {
            Swal.fire({
                title: '로그아웃', /*상단 타이틀*/
                text: '정말로 로그아웃하시겠습니까?', /*내용*/
                icon: 'success', /*아이콘 타입*/
                showCancelButton: true,
                cancelButtonColor: '#d33',
                confirmButtonColor: '#009900',
                confirmButtonText: '확인', /*확인버튼 클가*/
                cancelButtonText: '취소'
            }).then((result) => {
              if (result.isConfirmed) {
                window.location.href = '../logout';
              }
            })
          }

          function cancel_button() {
            Swal.fire({
                title: '변경 취소', /*상단 타이틀*/
                text: '정말로 변경 내용을 삭제하시겠습니까?', /*내용*/
                icon: 'warning', /*아이콘 타입*/
                showCancelButton: true,
                cancelButtonColor: '#d33',
                confirmButtonColor: '#009900',
                confirmButtonText: '확인', /*확인버튼 클가*/
                cancelButtonText: '취소'
            }).then((result) => {
              if (result.isConfirmed) {
                window.location.href = "manageprod";
              }
            })
          }

          function manage(){
            if (form.price.value == ""){
                Swal.fire(
                '저장 불가',
                '가격은 비어있을 수 없습니다.',
                'error'
                );
            }
            if (form.name.value == "" || form.name.value.length < 1 || form.name.value.length > 20){
                Swal.fire(
                '저장 불가',
                '제품명은 1~20자입니다.',
                'error'
                );
            }
            else{
              Swal.fire({
                  title: '저장하시겠습니까?',
                  text: "기존 설정은 모두 삭제됩니다!",
                  icon: 'warning',
                  showCancelButton: true,
                  cancelButtonColor: '#d33',
                  confirmButtonColor: '#009900'
                  }).then((result) => {
                      if (result.isConfirmed){
                          $.ajax({
                              url: "manageprod_detail",
                              type: "post",
                              data: $("form").serialize(),
                          }).done(function(data) {
                              if (data == "ok"){
                                  Swal.fire({
                                  title : '저장되었습니다!',
                                  text : '입력하신 데이터가 저장되었습니다.',
                                  icon : "success"
                                  });
                              }else{
                                  Swal.fire(
                                  '저장 실패',
                                  data,
                                  'error'
                                  );
                              }
                          });
                      }
                  })
            }
        }

        function delprod(){
          Swal.fire({
            title: '제품을 삭제하시겠습니까?',
            text: "해당 제품이 영구적으로 삭제됩니다!",
            icon: 'warning',
            showCancelButton: true,
            cancelButtonColor: '#d33',
            confirmButtonColor: '#009900'
            }).then((result) => {
                if (result.isConfirmed){
                    $.ajax({
                        url: "delete_product",
                        type: "post",
                        data: $("form").serialize(),
                    }).done(function(data) {
                      window.location.href = "manageprod"
                    });
                }
            })
        }

  </script>

  <title>Vend.vip™</title>

</head>

<body>

  <div class="d-flex" id="wrapper">

    <!-- Sidebar -->
    <div class="bg-light border-right" id="sidebar-wrapper">
      <div class="sidebar-heading">Vend.vip™</div>
      <div class="list-group list-group-flush">
        <a href="setting" class="list-group-item list-group-item-action bg-light">기본 설정</a>
        <a href="manageuser" class="list-group-item list-group-item-action bg-light">유저 관리</a>
        <b><a href="manageprod" class="list-group-item list-group-item-action bg-light">제품 관리</a></b>
        <a href="log" class="list-group-item list-group-item-action bg-light">로그 조회</a>
        {% if server_info[13] == 1 %}
        <a href="managereq" class="list-group-item list-group-item-action bg-light">충전신청 관리</a>
        {% endif %}
        <a href="license" class="list-group-item list-group-item-action bg-light">라이센스 관리</a>
      </div>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">

      <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
        <button class="btn btn-primary" id="menu-toggle">메뉴</button>&nbsp;&nbsp;
        <button class='btn btn-primary' onclick='location.href="../login"'>홈</button>&nbsp;&nbsp;
        <button class="btn btn-danger" onclick="logout_button();">로그아웃</button>
      </nav>

      <div class="container-fluid">
      <div style="padding:20px;"> 
        <br> <br>
        <form name="form">
          <div class="form-group">
            <h2>제품 {{info[1]}} 관리</h2><br>
            <div class="card">
              <div class="card-header">
              제품명 관리
              </div>
              <div class="card-body">
              <div class="container">
                  <div class="row">
                      <div class="col-md-12">
                        <input class="form-control" id="name" placeholder="제품명" name="name" value="{{info[1]}}">
                      </div>
                  </div>
                </div>
              </div>
            </div>
          </div>


          <div class="form-group">
            <div class="card">
              <div class="card-header">
              제품명 관리
              </div>
              <div class="card-body">
              <div class="container">
                  <div class="row">
                      <div class="col-md-12">
                        <input class="form-control" id="description" placeholder="제품 설명" name="description" value="{{info[2]}}">
                      </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="card">
              <div class="card-header">
              제품 사진 관리
              </div>
              <div class="card-body">
              <div class="container">
                  <div class="row">
                      <div class="col-md-12">
                        <input class="form-control" id="photo" placeholder="제품 사진 URL" name="photo" value="{{info[4]}}">
                      </div>
                  </div>
                </div>
              </div>
            </div>
          </div>



        <div class="form-group">
          <div class="card">
            <div class="card-header">
            가격 관리
            </div>
            <div class="card-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                      <input class="form-control" id="price" placeholder="가격" name="price" value="{{info[3]}}">
                    </div>
                </div>
              </div>
            </div>
          </div>
        </div>
  
        <div class="form-group">
            <div class="card">
                <div class="card-header">
                재고 관리
                </div>
                <div class="card-body">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <textarea class="form-control" rows="10" id="stock" placeholder="재고" name="stock" style="resize: none;">{{info[5]}}</textarea>
                          <input type="hidden" id="id" name="id" value="{{info[0]}}">
                        </div>
                    </div>
                  </div>
                </div>
              </div>
        </div>
      </form>
      <div style="float: right;">
      <button class="btn btn-primary" onclick="manage();">적용하기</button>&nbsp;&nbsp;
        <button class="btn btn-danger" onclick="cancel_button();">취소하기</button>&nbsp;&nbsp;
        <button class="btn btn-danger" onclick="delprod();">제품 삭제</button>
        </div>
      </div>
    </div>
    <!-- /#page-content-wrapper -->

  </div>
  <!-- /#wrapper -->

  <!-- Bootstrap core JavaScript -->

  <!-- Menu Toggle Script -->
  <script>
    $("#menu-toggle").click(function(e) {
      e.preventDefault();
      $("#wrapper").toggleClass("toggled");
    });
  </script>

</body>

</html>