<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
  <script src="https://cdn.jsdelivr.net/npm/promise-polyfill"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <script src='https://www.google.com/recaptcha/api.js'></script>
  <link href="{{ url_for('static', filename='css/simple-sidebar.css') }}" rel="stylesheet">


  <script>
    function containsCharsOnly(input,chars) {
        for (var inx = 0; inx < input.length; inx++) {
           if (chars.indexOf(input.charAt(inx)) == -1)
               return false;
        }
        return true;
    }

    function isLowerCase(input) {
        var chars = "abcdefghijklmnopqrstuvwxyz";
        return containsCharsOnly(input,chars);
    }

    function submit(){
      if (grecaptcha.getResponse().toString() == ""){
          swal.fire(
              "생성 실패",
              '"로봇이 아닙니다" 를 눌러주세요.',
              "error"
          );
          return;
      }
      if (form.url.value.length < 3 || form.url.value.length > 12){
          swal.fire(
              "생성 실패",
              "URL은 최소 3자 최대 12자입니다.",
              "error"
          );
          return;
      }
      if (!isLowerCase(form.url.value)){
          swal.fire(
              "생성 실패",
              "URL은 영어 소문자만 가능합니다.",
              "error"
          );
          return;
      }
      if (form.name.value.length < 1 || form.url.value.length > 12){
          swal.fire(
              "생성 실패",
              "스토어 이름은 최소 1자 최대 12자입니다.",
              "error"
          );
          return;
      }
      if (form.adminid.value.length < 6 || form.adminid.value.length > 24){
          swal.fire(
              "생성 실패",
              "아이디는 6 ~ 24자 사이로 입력해주세요.",
              "error"
          );
          return;
      }
      if (form.adminpw.value.length < 6 || form.adminpw.value.length > 24){
          swal.fire(
              "생성 실패",
              "암호는 6 ~ 24자 사이로 입력해주세요.",
              "error"
          );
          return;
      }
      if (form.adminpw.value != form.adminpwcheck.value){
          swal.fire(
              "생성 실패",
              "비밀번호 확인이 일치하지 않습니다.",
              "error"
          );
          return;
      }
        Swal.fire({
            title: '스토어 생성',
            text: "정말로 생성 하시겠습니까?",
            icon: 'success',
            showCancelButton: true,
            }).then((result) => {
                if (result.isConfirmed){
                    $.ajax({
                        url: "/",
                        type: "post",
                        data: $("form").serialize(),
                    }).done(function(data) {
                        if (data == "ok"){
                              Swal.fire({
                                  showConfirmButton: false,
                                  title : "개설 중입니다..",
                                  text : '스토어가 개설 중입니다. 잠시만 기다려주세요!',
                                  icon : "success",
                                  timer: 20000,
                                  timerProgressBar: true,
                                  allowOutsideClick: false,
                                  allowEscapeKey : false,
                                  allowEnterKey : false,
                                });
                                setTimeout(function() {
                                  window.location.href = `http://${form.url.value}.vend.vip`
                                }, 20000);
                        }else{
                            Swal.fire(
                            '스토어 생성 실패',
                            data,
                            'error'
                            );
                        }
                    });
                }
            })
    }
  </script>
  <style>
      .rule {
          text-align: left;
      }
  </style>

  <title>Create Store</title>
</head>

<body>
  <div class="d-flex" id="wrapper">

    <!-- Sidebar -->
    <div class="bg-light border-right" id="sidebar-wrapper">
      <div class="sidebar-heading">Create Store</div>
      <div class="list-group list-group-flush">
        <b><a href="" class="list-group-item list-group-item-action bg-light">스토어 만들기</a></b>
        <b><a href="https://discord.gg/locus" class="list-group-item list-group-item-action bg-light">공식 디스코드</a></b>
      </div>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">

      <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
        <button class="btn btn-primary" id="menu-toggle">메뉴</button>&nbsp;&nbsp;
      </nav>

      <div class="container-fluid">
      <div style="padding:20px;"> 
        <br> <br>
        <form name="form">

          <div class="form-group">
            <div class="card">
                <div class="card-header">
                스토어 URL 설정
                </div>
                <div class="card-body">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12" style="padding-top : 10px;">
                          <label>스토어 URL</label>
                          <div class="input-group">
                            <span class="input-group-text">
                              platinumvip.kro.kr/@
                          </span>        
                          <input class="form-control" id="url" placeholder="스토어 URL" name="url" maxlength="12"> 
                        </div>
                        </div>
                    </div>
                  </div>
                </div>
              </div>
        </div>

        <div class="form-group">
          <div class="card">
            <div class="card-header">
            스토어 이름 설정
            </div>
            <div class="card-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-12" style="padding-top : 10px;">
                      <label>스토어 이름</label>
                      <input class="form-control" id="name" placeholder="스토어 이름" name="name" maxlength="12">
                    </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="card">
            <div class="card-header">
            관리자 계정 생성
            </div>
            <div class="card-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-4" style="padding-top : 10px;">
                      <label>관리자 ID</label>
                      <input class="form-control" id="adminid" placeholder="관리자 ID" name="adminid" maxlength="24">
                    </div>
                    <div class="col-md-4" style="padding-top : 10px;">
                      <label>관리자 PW</label>
                      <input class="form-control" id="adminpw" placeholder="관리자 PW" name="adminpw" maxlength="24">
                    </div>
                    <div class="col-md-4" style="padding-top : 10px;">
                      <label>관리자 PW 확인</label>
                      <input class="form-control" id="adminpwcheck" placeholder="관리자 PW 확인" name="adminpwcheck" maxlength="24">
                    </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="card">
            <div class="card-header">
            라이센스 등록
            </div>
            <div class="card-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-12" style="padding-top : 10px;">
                      <label>라이센스 코드</label>
                      <input class="form-control" id="license" placeholder="라이센스 코드" name="license">
                    </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="card">
              <div class="card-header">
              reCAPTCHA
              </div>
              <div class="card-body">
              <div class="container">
                  <div class="row">
                      <div class="col-md-12" style="padding-top : 10px;">
                        <div class="g-recaptcha" data-sitekey="6LfODdMcAAAAAIFqKrwjBLMQj6SUj6ZYGkFYRRBl"></div>
                      </div>
                  </div>
                </div>
              </div>
            </div>
      </div>
      </form>
      <div class="col-md-12">
      <button class="btn btn-primary col-md-12" onclick="submit();">생성하기</button>
        </div>
      </div>
    </div>
    <!-- /#page-content-wrapper -->

  </div>
  </div>
  <!-- /#wrapper -->

  <!-- Bootstrap core JavaScript -->

  <!-- Menu Toggle Script -->
  <script>
    $("#menu-toggle").click(function(e) {
      e.preventDefault();
      $("#wrapper").toggleClass("toggled");
    });
  </script>

</body>

</html>